{% extends "layout.html" %} {% block content %}
<h3>Quản lý Menu (Sản phẩm)</h3>
<a href="{{ url_for('add_product') }}" class="add-btn">➕ Thêm món</a>

<div class="product-grid">
  {% for p in products %}
  <div class="product-card">
    {% if p.image %}
    <img src="{{ p.image }}" alt="{{ p.name }}" class="product-img" />
    {% else %}
    <img
      src="{{ url_for('static', filename='images/no-image.png') }}"
      alt="No image"
    />
    {% endif %}

    <h4>{{ p.name }}</h4>
    <p><b>Giá:</b> {{ "{:,.0f}".format(p.price) }} đ</p>
    <p>{{ p.description }}</p>
    <div class="actions">
      <a href="{{ url_for('edit_product', id=p._id) }}" class="btn edit"
        >✏ Sửa</a
      >
      <a
        href="{{ url_for('delete_product', id=p._id) }}"
        class="btn delete"
        onclick="return confirm('Xóa món này?')"
        >🗑 Xóa</a
      >
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
